.paginationTable{
  direction: ltr;
  p{
    margin-bottom: 0!important;
    margin-left: 0.5rem!important;
  }
}

.deleteBtn{
  background-color: gray;
  color: white;
  &:hover {
    background-color: #535353;
  }
}

.paginationTable div{
  flex: unset!important;
  -webkit-flex:unset!important;
}