.hara {
  a {
    color: #fff !important;
  }
  path {
    fill: #fff;
  }
}
.haraCard {
  cursor: pointer;
  &[data-id="announcement"] {
    background-color: #42a5f6;
  }
  &[data-id="question"] {
    background-color: #f65142;
  }
  &[data-id="action"] {
    background-color: #147d10;
  }
  &[data-id="checker"] {
    background-color: #36107d;
  }

  .cardBody {
    width: 100%;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    overflow: hidden;
    border-radius: 5px;
    padding: 0 !important;
  }

  .iconWrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 80px;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .contentWrapper {
    width: 100%;
    padding: 20px 15px 20px 20px;
    display: flex;
    flex-direction: column;
  }
}
