@font-face {
  font-family: IRAN-Sans;
  src: url("../fonts/IRANSansWeb.cdb118d6.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IRAN-Sans !important;
  /* TODO: Refactor this -> pouya-shekari */
  /* direction: rtl; */
}

body {
  background: rgb(241, 243, 246);
  direction: rtl;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

div[data-message] {
  display: none !important;
}

.react-flow .react-flow__handle {
  width: 8px;
  height: 8px;
}

.react-flow {
  background-color: #fff;
  border-radius: 3px;
}
